.DS_Store
.env
.DS_Store
.env
.DS_Store
.env

CineHunt_Complete_Local/
Minhhanh2812/

recommendation-service/.venv/
recommendation-service/.env
recommendation-service/model/
recommendation-service/__pycache__/
recommendation-service/app/__pycache__/
