# Salin file này thành .env rồi điền giá trị thật
PORT=3002

CORS_ORIGINS=http://localhost:5173

# SQL Server
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=nestapp
DB_PASSWORD=
DB_DATABASE=CineHuntDB

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
